<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="http://127.0.0.1:5000"><h1>Home</h1></a>
<h2>{{ list_name[0][1] }} </br> {{ list_name[0][2] }}</h2>
<ui>
    {% for list_items in list_items_content %}
        <li>Item: {{ list_items[0] }}
            {{ list_items[1] }}
            </br> Price: ${{ list_items[2]}}
            {% if list_items[3] == "kg" %}
                /{{ list_items[3] }}
            {% endif %}
            {% if list_items[3] == "ea" %}
                /{{ list_items[3] }}
            {% endif %}
            </br>
            <form action = "http://127.0.0.1:5000/updatequantity/{{list_id}}" method="POST">
                <input type="hidden" name="iid" value="{{ list_items[5] }}">
                Quantity:

                {% if list_items[3] == "kg" %}
                    <button type="submit" name="update" value="0.1">+</button>
                        {{ '%.1f' | format(list_items[4]) }}kgs
                    <button type="submit" name="update" value="-0.1">-</button>
                {% endif %}
                {% if list_items[3] == "ea" %}
                    <button type="submit" name="update" value="1">+</button>
                        {{ list_items[4]|int }}
                    <button type="submit" name="update" value="-1">-</button>
                {% endif %}
            </form>
        </li>
        </br>
    {% endfor %}
</ui>
<a href="http://127.0.0.1:5000/viewfood/{{ list_name[0][0] }}">Add Item</a>
{% if list_items_content %}
    <h4>{{ list_items_content[0][6] }}</h4>
{% endif %}
<h4>Total: ${{ total_price }}</h4>
</body>
</html>