<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List of Shopping Lists</h1>
<ul>
    {% for list in list_content %}
        <li>{{ list[1] }} - {{ list[2] }}</li>
    {% endfor %}
</ul>
    <form action = "http://127.0.0.1:5000/addlist" method = "POST">
        <label for="lname">List Name</label>
        <input type="text" name="lname" id="lname">
        </br>
        </br>
        </br>
        <label for="ldate">Date</label>
        <input type="date" name="ldate" id="ldate" >
        </br>
        </br>
        </br>
        <button type="submit">Add List</button>
    </form>
</body>
</html>